h2 {
    color: red;
}

.card-music {
    margin: 0 auto;
    width: 960px;
}

.card-music_inner {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 10px;
}

.card-music h2 {
    display: flex;
    justify-content: left;
}

ul {
    padding: 10px;
    width: 25%;
    border: 1px solid white;
    border-radius: 5px;
}

li {
    list-style: none;
}

