.searchbarComponent {
    display: flex ;
    justify-content: center;
    }
    
    .searchbar {
    width: 400px;
    }
    
    .playlistComponent {
    display: flex;
    gap: 10px;	
    }
    
    .arrayComponent {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    width: 400px;
    border : solid 1px white;
    background-color: white;
    }
    
    .dataPlaylist {
    text-align: left;
    }
    